.topmenu:link {
        color:blue;
        font-weight:normal;
        /* text-decoration:none; */
}
.topmenu:visited {
        color:blue;
        font-weight:normal;
        /* text-decoration:none; */
}
.topmenu:active {
        color:blue;
        font-weight:normal;
        /* text-decoration:none; */
}
.topmenu:hover {
        color:blue;
        font-weight:normal;
        /* background:#FFFFFF; */
        text-decoration:underline;
}
div.topmenu { font-family: courier new, courier, mono; font-size:13px; }
a span.topredmenu {
        color:red;
        font-weight:normal;
        /* text-decoration:none; */
}
.topredmenu:link {
        color:red;
        font-weight:normal;
        /* text-decoration:none; */
}
.topredmenu:visited {
        color:red;
        font-weight:normal;
        /* text-decoration:none; */
}
.topredmenu:active {
        color:red;
        font-weight:normal;
        /* text-decoration:none; */
}
.topredmenu:hover {
        color:red;
        font-weight:normal;
        /* background:#FFFFFF; */
        text-decoration:underline;
}
div.topredmenu { font-family: courier new, courier, mono; font-size:13px; }
div.b  a.bt {color:blue}
div.b  a.og {color:#111111;}
div.b td.cd {text-align:right;}
div.b td.cl {
	text-align: left;
}
div.b td.cf {
	text-align: center;
	font-weight: bold;
}
div.b td.f {
	white-space: nowrap;
}
div.b td.tab {
	background-color: #993300;
}
span.maxcap {
	font-size: 80%;
	font-weight: normal;
}
span.hs {
	font-weight: normal;
	font-size: 90%;
}
input {
	font-size: 90%;
}
#pt {
	font-size: 90%;
	text-indent: -25;
	margin-left: 25;
	text-align: left;
}
div.es {
	font-size: 75%;
	font-style: italic;
}
PRE, CODE {
	font-size: 14px;
	font-family: courier new,courier,mono;
}
#h {
	font-weight: bold;
}
#brt {
	color: #000099;
}
#k {
	font-family: courier new,courier,mono;
}
#r {
	color: #000099;
}
#r1 {
	color: #0000CC;
	text-decoration: none;
}
td.dop {
	font-size: 12px;
}
span.tr {
	color: #0000df;
	font-weight: bold;
	font-size: 12px;
}
div.menu {
	font-family: courier new,courier,mono;
	font-size: 13px;
}
div.header {
	font-family: Verdana,Arial,Helvetica,sans-serif;  
	font-size: 14px; color: #CC0033;
} 
div.header A:link {
	color: blue;
} 
div.header A:visited {
	color: blue;
} 
div.submenu {
	font-family: Arial,Helvetica,sans-serif;  
	font-size: 12px;
	color: #CC0033;
	text-align: center; 
}
div.submenu A:link {
	color: blue;
}
div.submenu A:visited {
	color: blue;
}
div.m2date {
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-family: Times New Roman,sans-serif;
	background: white;
	color: #000099;
}
div.curhd {
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	color: #CC0033;
}
.curhd {
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	color: #CC0033;
}
h4 {
	color:#000099;
}
body {
	font-family: Arial,Helvetica,sans-serif;
	background: white;
	color: black;
}
div.cap {
	color: #000099;
	font-weight: normal;
}
div.address {
	font-size: 80%;
	font-family: Arial,Helvetica,sans-serif;
	font-style: italic;
}
td.address {
	font-size: 80%;
	font-family: Arial,Helvetica,sans-serif;
	font-style: italic;
}
a.exit:link, a.exit:visited, a.exit:active, a.exit:hover {
        position: absolute;
        left: 661px;
        top: 58px;
        width: 100px;
        height:20px;
        line-height: 20px;
        color: #c02040;
        text-indent: 30px;
        display: block;
        font-weight:bold;
}
a.exitB:link, a.exitB:visited {
        position:relative;
        left:-30px;
        top:0px;
        width:300px;
        height:20px;
        line-height:20px;
        color:#c02040;
        text-indent:30px;
        display:block;
}
a.exitB:hover {
        color: #c02040;
}
a.exit:hover, a.exitB:hover {
        text-decoration:underline;
}
.address {
        font-size:80%;
        font-family: Arial, Helvetica,sans-serif;
        font-style:italic
}
