<?xml version="1.0" encoding="utf-8"?>
<web-app>
    <servlet>
        <servlet-name>mapreduce</servlet-name>
        <servlet-class>
            com.google.appengine.tools.mapreduce.MapReduceServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>
            com.google.appengine.demos.mapreduce.TestServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>init</servlet-name>
        <servlet-class>
            com.google.appengine.demos.mapreduce.InitServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mapreduce</servlet-name>
        <url-pattern>/mapreduce/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>init</servlet-name>
        <url-pattern>/init/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>remoteapi</servlet-name>
        <servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>remoteapi</servlet-name>
        <url-pattern>/remote_api/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>com.ikai.mapperdemo.servlets.UploadBlobServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>successful-upload</servlet-name>
        <servlet-class>com.ikai.mapperdemo.servlets.SuccessfulUploadServlet</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>serve</servlet-name>
        <servlet-class>com.ikai.mapperdemo.servlets.ServeBlobServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>serve</servlet-name>
        <url-pattern>/serve</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>successful-upload</servlet-name>
        <url-pattern>/upload-success</url-pattern>
    </servlet-mapping>


    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <filter>
        <filter-name>rack-filter</filter-name>
        <filter-class>org.jruby.rack.RackFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>rack-filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>com.google.appengine.jruby.LazyContextListener</listener-class>
    </listener>
</web-app>
